# App
APP_PASSWORD_HASH=
SECRET_KEY=change-me-to-random-string
DEBUG=True

# Database
DATABASE_URL=sqlite+aiosqlite:///./elbot.db

# MQTT Broker
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60
